 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="text-align: justify">
                        Hello I'm Fabio Napoli and I'm an ardent freelance developer from Salerno, Italy,

I enjoy turning complex problems into simple, beautiful and intuitive interface designs or computer program :) . When I'm not coding,
                        you'll find me in a football field or at home watching TV Series. Since last years my interests concerned
                        the design and the development of back-end and frontend software.
                        </p>
                </div>
                <div class="col-lg-4">
                    <p style="text-align: justify"> I graduated in Computer Science at Università degli Studi di Salerno and I’m actually studying for my Master’s Degree in Reti e Tecnologie Software (Networks and Software Technologies) at Università degli Studi di Salerno.
                        I did my Bachelor’s thesis on " Sigma-Protocols in Charm-Crypto ".
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h6>The computers are incredibly fast, accurate and stupid. Humans are incredibly slow,
                        inaccurate and brilliant. The whole of the two is an incalculable force."<br>
                    Albert Einstein</h6>
                </div>
            </div>
        </div>
    </section>
